    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
     :root {
        --primary: #ea40a4;
        --business: #3a82ee;
        --personal: var(--primary);
        --light: #eee;
        --dark: #313154;
        --grey: #888;
        --danger: #ff5b57;
        --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
        --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
        --main-color: #2980b9;
        --black: #444;
        --light-color: #666;
        --border: 1px solid rgba(0, 0, 0, 0.1);
        --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    
    input:not([type="radio"]):not([type="checkbox"]),
    button {
        appearance: none;
        border: none;
        outline: none;
        background: none;
        cursor: initial;
    }
    
    body {
        background: var(--light);
        color: var(--dark);
    }
    
    body.active {
        --light: #333;
        --dark: #eee;
        --grey: #eee;
        --shadow: 0 1px 3px rgba(255, 255, 255, 0.1);
    }
    
    section {
        margin: 2rem 0;
        padding: 0 1.5rem;
    }
    
    h3 {
        color: var(--dark);
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    
    h4 {
        color: var(--grey);
        font-size: 0.875rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    /*========== GREETING SECTION ========== */
    
    .app-greeting .title {
        display: flex;
    }
    
    .app-greeting .title input {
        margin-left: 0.5rem;
        flex: 1 1 0%;
        min-width: 0;
    }
    
    .app-greeting .title,
    .app-greeting .title input {
        color: var(--dark);
        font-size: 1.5rem;
        font-weight: 700;
    }
    /*========== TODO CREATE SECTION ========== */
    
    .todo-create input[type="text"] {
        display: block;
        width: 100%;
        font-size: 1.125rem;
        padding: 1rem 1.5rem;
        color: var(--dark);
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
        margin-bottom: 1.5rem;
    }
    
    .todo-create .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .todo-create .options label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
        cursor: pointer;
    }
    
    input[type="radio"],
    input[type="checkbox"] {
        display: none;
    }
    
    .bubble {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--business);
        box-shadow: var(--business-glow);
    }
    
    .personal {
        border-color: var(--personal);
        box-shadow: var(--personal-glow);
    }
    
    .bubble::after {
        content: "";
        display: block;
        opacity: 0;
        width: 0px;
        height: 0px;
        border-radius: 50px;
        background-color: var(--business);
        box-shadow: var(--business-glow);
        transition: 0.5s ease-in-out;
    }
    
    .personal::after {
        background-color: var(--personal);
        box-shadow: var(--personal-glow);
    }
    
    input:checked~.bubble::after {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
    
    .todo-create .options label div {
        color: #000;
        font-size: 1.125rem;
        margin-top: 1rem;
    }
    
    .todo-create input[type="submit"] {
        display: block;
        width: 100%;
        font-size: 1.125rem;
        padding: 1rem 1.5rem;
        color: #fff;
        background: var(--main-color);
        border-radius: 0.5rem;
        box-shadow: var(--business-glow);
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    
    .todo-create input[type="submit"]:hover {
        opacity: 0.75;
    }
    /*========== TODO LIST SECTION ========== */
    
    .todo-list .list {
        margin: 1rem 0;
    }
    
    .todo-list .todo-item {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
        margin-bottom: 1rem;
    }
    
    .todo-item label {
        display: block;
        margin-right: 1rem;
        cursor: pointer;
    }
    
    .todo-item .todo-content {
        flex: 1 1 0%;
    }
    
    .todo-item .todo-content input {
        color: #000;
        font-size: 1.125rem;
    }
    
    .todo-item .actions {
        display: flex;
        align-items: center;
    }
    
    .todo-item .actions button {
        display: block;
        padding: 0.5rem;
        border-radius: 0.25rem;
        color: #fff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    
    .todo-item .actions button:hover {
        opacity: 0.75;
    }
    
    .todo-item .actions .edit {
        margin-right: 0.5rem;
        background-color: var(--primary);
    }
    
    .todo-item .actions .delete {
        margin-right: 0.5rem;
        background-color: var(--danger);
    }
    
    .todo-item.done .todo-content input {
        text-decoration: line-through;
        color: #000;
    }
    
    @media screen and (min-width:998px) {
        .app {
            max-width: 500px;
            box-shadow: var(--shadow);
            margin: 0 auto;
            padding: 1rem;
            margin-top: 5rem;
            border-radius: 1rem;
        }
    }
    /*========== THEME STYLE ========== */
    
    #theme-open {
        position: fixed;
        top: 30px;
        right: 50px;
        font-size: 40px;
        cursor: pointer;
        z-index: 10;
    }
    
    .themes-container {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #fff;
        height: 100vh;
        width: 350px;
        z-index: 1000;
        text-align: right;
        padding: 20px;
    }
    
    .themes-container.open {
        right: 0;
        overflow: hidden;
        transition: all .3s ease-in;
    }
    
    .themes-container #theme-close {
        font-size: 40px;
        color: var(--black);
        cursor: pointer;
    }
    
    .themes-container h3 {
        text-align: center;
        color: var(--black);
        border-top: var(--border);
        border-bottom: var(--border);
        padding: 15px 0;
        margin: 20px 0;
        font-size: 26px;
        text-transform: capitalize;
        font-weight: 600;
    }
    
    .themes-container .theme-toggler {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .themes-container .theme-toggler span {
        color: var(--light-color);
    }
    
    .themes-container .theme-toggler .toggler {
        height: 40px;
        width: 100px;
        border-radius: 50px;
        background: #444;
        cursor: pointer;
        position: relative;
        border: var(--border);
        margin: 0 10px;
    }
    
    .themes-container .theme-toggler .toggler::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        height: 28px;
        width: 28px;
        background: #fff;
        border-radius: 50%;
        transition: .2s linear;
    }
    
    .themes-container .theme-toggler.active .toggler::before {
        left: 65px;
    }
    
    .themes-container .theme-colors {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    
    .themes-container .theme-colors .color {
        border-radius: 5px;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    
    .themes-container .theme-colors .color:hover {
        opacity: 0.75;
    }